
           <nav>
                  
                  <ul>
                          <li><a href = "/completed">COMPLETED</a></li>
                          <li><a href = "/addTodo">Add</a></li>
                          <li><a href = "/allTodo">All</a></li>
                  </ul>
           </nav>