<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/allTodo/allTodo.css">
  <link rel ="stylesheet" type="text/css" href="/nav.css">
  <script src="/jquery-3.3.1.js"></script>	
</head>
<body>
    {{> header }}
	<div class="container">
       <div class="col-md-12">
       	<div class="page-header">
       		<h1>Completed-List</h1>
       	</div>
       </div>
    </div>
    
    </div><div class="container">
    <div id="oldnote"></div></div>
    <script src="/socket.io/socket.io.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/completed.js"></script>
</body>
</html>